body, html{
    font-family: Arial, Helvetica, sans-serif;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header
{
    background: url("picture/bg-image-2.jpg");
    background-size: cover;
    height: 114vh;
    width: 100%;
    
    
} 


header a
{
    text-decoration: none;
    color: white;
}
header i
{
    color: white;
    cursor: pointer;
}
.logo-menu
{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem 2rem 4rem;
    
}

.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
}
.title h1
{
    color:white;
    text-align: center;
    font-size: 5rem;

}
.social-icon
{
    display: flex;
    color: white;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 4rem; 
}
.social-icon i
{
    padding: 1rem;
}

.text-1 h5
{
    color: grey;
    padding: 4rem 4rem 2rem 4rem;

}
.text-1 h2
{
    padding: 0 2rem 0vw 4rem; 
    text-align: left;
}
.text-1 p
{
    padding: 4rem 4rem 2rem 4rem;
}
.circle
{
    background: #DB535A;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 4rem 4rem 4rem;

}
.circle2
{
    background: #DB535A;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 6rem 4rem 4rem 1rem;

}

.l1-img
{
    width: 20rem;
    height: 20rem;
    padding: 0.5rem;
    opacity: 1;
    transition: 0.3s;
}
.l1-img img
{
    width: 100%;
    height: 100%;
}
.l1-img img:hover
{
    opacity: 0.6;
}
.row-1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row-2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-viewmore
{
    background-color: white;
    border: 2px solid gray;
    color: grey;
    width: 8rem;
    height: 3rem;
    opacity: 0.6;
    transition: 0.3s;
    
}
.btn-viewmore:hover
{
    opacity: 1;
    
}
.btn-center
{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.text-2 h2
{
    padding: 4vw;
}
.btn-getstarted
{
    background-color: #DB535A;
    color: white;
    border: 1px solid crimson;
    width: 8rem;
    height: 3rem;
    opacity: 1;
    transition: 0.3s;
}
.btn-getstarted:hover
{
    opacity: 0.6;
}
.btn-padding
{
    display: flex;
    justify-content: space-around;
    width: 30rem;
}

.img-3
{
    width: auto;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-text
{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 4vw 5vw 4vw 5vw; */
    background-color: #f1f1f1;
    padding: 2rem;
}
.column-1
{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-2 h2
{
    /* padding: 0 2rem 1rem 1rem; */
    display: flex;
    align-items: center;
    padding: 2rem;
}
.column-2 p
{
    /* padding: 0 2rem 1rem 1rem; */
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.arrow i
{
    color: black;
    font-size: 3rem;
    padding: 0 2vw 2vw 1vw;
}
.text-3 h2
{
    padding: 4rem 4rem 1rem 4rem;
}
.text-3 p
{
    padding: 0 4rem 4rem 4rem;
    color: grey;
}
.img-3 img
{
    width: 100%;
    height: 100%;
}
.card-img
{
    width: 20rem;
    height: 20rem;
}
.card-img img
{
    width: 100%;
    height: 100%;
}
.card
{
    box-shadow: 0 2vw 0vw 0 rgba(0, 0, 0, 0.0);
    transition: 0.3s;
    padding: 0.5rem;
}
.card:hover
{
    box-shadow: 0 4vw 10vw 0 rgba(0, 0, 0, 0.1);
}
.undImg
{
    padding: 1rem 0 0 0;
}
.image-card
{
    display: flex;
    justify-content: center;
    
}
.post
{
    padding: 0;
}
.post-grey
{
    color: gray;
    font-size: 1vw;
}
.btn-readmore
{
    background-color: #DB535A;
    color: white;
    border: 1px solid crimson;
    width: 8rem;
    height: 2rem;
    opacity: 1;
    transition: 0.3s;
}
.btn-readmore:hover
{
    opacity: 0.6;
}

.text-4 h3
{
    padding: 4rem 4rem 1rem 4rem;
}
.text-4 h2
{
    padding: 1rem 4rem 1rem 4rem;
}
.form
{
    padding: 2rem 4rem 2rem 4rem;
}
input[type=text]
{
    padding: 1rem 1rem;
    background-color: #f1f1f1;
    border: none;
    width: 25vw;
    margin-right: 2rem;
}
.Frow-1
{
    display: flex;
    /* padding-left: 4vw; */
    flex-direction: row;
}

input[type=date]
{
    width: 79vw;
    padding: 1rem;
    background-color: #f1f1f1;
    border: none;
}
.Frow
{
    padding: 1.5rem 4rem 0 0 ;
} 
textarea
{
    width: 79vw;
    background-color: #f1f1f1;
    border: none;
}
button[type=submit]
{
    background-color: #DB535A;
    border: none;
    color: white;
    padding: 0.8rem 1rem 0.8rem 1rem;
    width: 6rem;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    margin-top: 1rem;
}
button[type=submit]:hover
{
    opacity: 0.6;
}

footer
{
    
    width: 100%;
    background-color:#383838 ;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 1100px) 
{
    
    .image-text
    {
        display: flex;
        flex-direction: column;
    }
    .arrow
    {
        padding-left: 8rem;
    }
    .circle2
    {
        margin-top: 2rem;
        margin-left: 6rem;
    }
    .column-2 h2
    {
        padding-left: 8rem;
    }
    .column-2 p
    {
        padding: 1rem;
        margin-left: 7rem;
    }
    .image-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .card {
        box-shadow: 0 2vw 0vw 0 rgb(0 0 0 / 0%);
        transition: 0.3s;
        padding: 0.5vw;
    }
    .card-img
    {
        width: 100%;
    
    }
    .Frow-1
    {
        display: flex;
        flex-direction: column;
    }
    .Frow
    {
        flex-direction: column;
    }
    input[type=text]
    {
        padding: 1rem 1rem;
        background-color: #f1f1f1;
        border: none;
        width: auto;
        margin-right: 2rem;
    }
    


}
@media (max-width: 450px) 
{
    .btn-padding
    {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 10rem;
    }
    .image-text
    {
        padding: 0;
    }
    .Frow-1
    {
        display: flex;
        flex-direction: column;
    }
    .Frow
    {
        flex-direction: column;
    }
    
    
}
